{% extends 'base.html' %}
{% load static i18n class_tags post_status %}

{% block title %}Mes institutions{% endblock %}

{% block content %}

    <section class="uk-section uk-container" style="min-height: calc(100vh - 300px)">
        <h3 class="">Institutions gérées par {{ user.first_name|capfirst }} {{ user.last_name|upper }}</h3>

        <table class="uk-table uk-table-responsive uk-table-small uk-table-divider">
            <thead>
                <tr>
                    <th>Institution</th>
                    <th>Code postale</th>
                    <th>Commune</th>
                    <th>Créé / Assigné</th>
                    <th>Statut</th>
                    <th>Vérifié ?</th>
                    <th>Active ?</th>
                </tr>
            </thead>
            <tbody>
            {% for institution in institution_list %}
                <tr>
                    <td><a href="{% url 'equipments:institution_details' institution.code %}">{{ institution.name }}</a></td>
                    <td>{{ institution.postal_code }}</td>
                    <td>{{ institution.commune__label }}</td>
                    <td>{{ institution.created }}</td>
                    <td>{{ institution.post__status|statusToString }}</td>
                    <td>{% if institution.post__verif_status %}
                            <label><input class="uk-checkbox" type="checkbox" checked disabled> Vérifié</label>
                        {% else %}
                            <label><input class="uk-checkbox" type="checkbox" disabled> Vérifié</label>
                        {% endif %}
                    </td>
                    <td>{% if institution.post__is_active %}
                            <label><input class="uk-checkbox" type="checkbox" checked disabled> Active</label>
                        {% else %}
                            <label><input class="uk-checkbox" type="checkbox" disabled> Active</label>
                        {% endif %}</td>
            {% endfor %}
            </tbody>
        </table>
    {% include 'parts/pagination.html' %}
    </section>

{% endblock %}