{% extends 'base.html' %}
{% load static i18n class_tags %}

{% block title %}Ajouter institutions{% endblock %}

{% block content %}

    <section class="uk-section uk-container">
        <h3 class="">Ajouter une institution</h3>

        <form method="post" action="">
            {{ form.as_p }}
        </form>

    </section>

{% endblock %}