{% extends "base.html" %}
{% load class_tags %}

{% block title %}Formulaire{% endblock title %}

{% block content %}
    <div class="centred-container uk-flex uk-flex-center uk-flex-middle uk-background-muted">
        <div class="uk-card uk-card-default uk-card-hover uk-width-1-2@m uk-margin-top uk-margin-bottom">

            {% block card-header %}
                <div class="uk-card-header">
                    <h1 class="uk-card-title uk-margin-remove-bottom" id="title">{% block mainTitle %}Card{% endblock %}</h1>
                </div>
            {% endblock card-header%}

            {% block card-body %}
            <div class="uk-card-body">
                {% block card-body-content %}
                    <!-- card body goes here -->
                {% endblock card-body-content %}
            </div>
            {% endblock card-body %}

            {% block card-footer %}{% endblock card-footer %}
        </div>
    </div>
{% endblock %}
