{% extends "base.html" %}
{% load class_tags %}

{% block title %}Formulaire{% endblock title %}

{% block content %}
    <div class="centred-container uk-flex uk-flex-center uk-flex-middle uk-background-muted">
        <div class="uk-card uk-card-default uk-card-hover uk-width-1-2@m uk-margin-top uk-margin-bottom">
            <div class="uk-card-header">
                <h1 class="uk-card-title uk-margin-remove-bottom" id="title">{% block mainTitle %}
                    Formulaire{% endblock %}</h1>
                {% block presentationText %}{% endblock presentationText%}
                {% if form.errors|length > 0 %}
                    <div class="uk-alert-danger" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p id="error-message">Erreur lors de l'envoie de votre demande. Veuillez vérifier les paramètre
                            saisis.</p>
                    </div>
                {% endif %}
                {% if form.non_field_errors|length %}
                    <small class="uk-text-danger">{{ form.non_field_errors }}</small>
                {% endif %}
            </div>
            <div class="uk-card-body">
            {% block form %}
                <form class="" role="form" action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="uk-text-danger">{{ error }}</p>
                        {% endfor %}
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">{{ field.label }}</label>
                            <div class="uk-form-controls">
                                {{ field|addClass:"uk-input" }}
                            </div>
                        </div>
                        {% if field.help_text %}
                            <small>{{ field.help_text|safe }}</small>
                        {% endif %}
                    {% endfor %}

                    <div class="uk-margin-top">
                        <input class="uk-button button-orange" type="submit" name="submit" value="valider">
                    </div>
                </form>
                {% endblock form %}
            </div>
            {% block cardFooter %}{% endblock cardFooter %}
        </div>
    </div>
{% endblock %}
