<li><a href="{% url 'home' %}"><span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>Accueil</a></li>
{% if not user.is_authenticated %}
    <li><a href="{% url 'accounts:login' %}?next={{ request.get_full_path|urlencode }}"><span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-in"></span>Se connecter</a></li>
    <li><a href="{% url 'accounts:register' %}"><span class="uk-icon uk-margin-small-right" uk-icon="icon: file-edit"></span>S'inscrire</a></li>
{% else %}
    <li><a href="{% url 'accounts:profile' %}"><span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>Mon profil</a></li>
    <!--<li><a href="{% url 'publications:owner_publication' %}"><span class="uk-icon uk-margin-small-right" uk-icon="icon: world"></span>Mes publications</a></li>-->
    <li><a href="{% url 'equipments:institution_list' %}"><span class="uk-icon uk-margin-small-right" uk-icon="icon: world"></span>Mes institutions</a></li>
    <li><a href="{% url 'equipments:institution_create' %}"><span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>Ajouter institution</a></li>
    <li><a href="{% url 'accounts:logout' %}?next={{ request.get_full_path|urlencode }}"><span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>Se déconnecter</a></li>
{% endif %}