{% load static %}
<div uk-sticky="sel-target: .navbar; cls-active: uk-navbar-sticky">
    <nav class="navbar uk-navbar-container uk-box-shadow-medium" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="{% url 'home' %}">
                <img class="uk-margin-small navbar-logo"
                     src="{% static 'img/kojump/kojump_logo.png' %}" alt="KoJump">
            </a>
        </div>
        <div class="uk-navbar-right uk-hidden@s">
            <a class="uk-navbar-toggle" href="#offcanvas-nav" uk-toggle><span uk-navbar-toggle-icon></span></a>
        </div>
        <div class="uk-navbar-right uk-visible@s">
            <ul class="uk-navbar-nav">
                <li class="uk-navbar-item">
                    <input class="uk-input uk-form-width-medium" type="search" id="address-input"
                           placeholder="Rechercher un lieu..."/>
                </li>
                <li class="uk-navbar-item">
                    <a href="#">
                        {% if not user.is_authenticated %}
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span> Mon compte
                        {% else %}
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span> {{ user.username }}
                        {% endif %}
                    </a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            {% include 'parts/menu-elements.html' %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-default">
                <li class="uk-parent"><a href="#">Mon Compte</a>
                    <ul class="uk-nav-sub">
                        {% include 'parts/menu-elements.html' %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>