{% if is_paginated %}
    <div class="text-center">
        <ul class="uk-pagination uk-flex-center" uk-margin>

            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">
                    <span class="uk-icon" uk-icon="icon: triangle-left"></span></a>
                </li>
            {% endif %}

            {% if page_obj.number >= 5 %}
                <li><a href="?page=1">1</a></li>
                <li><span>...</span></li>
            {% elif page_obj.number == 4 %}
                <li><a href="?page=1">1</a></li>
            {% endif %}

            {% if page_obj.number|add:"-2" >= 1 %}
                <li><a href="?page={{ page_obj.number|add:"-2" }}">{{ page_obj.number|add:"-2" }}</a></li>
            {% endif %}

            {% if page_obj.number|add:"-1" >= 1 %}
                <li><a href="?page={{ page_obj.number|add:"-1" }}">{{ page_obj.number|add:"-1" }}</a></li>
            {% endif %}

            <li class="uk-active"><a href="?page={{ page_obj.number }}" style="color: #ff4e00">{{ page_obj.number }}</a></li>

            {% if page_obj.number|add:"1" <= paginator.num_pages %}
                <li><a href="?page={{ page_obj.number|add:"1" }}">{{ page_obj.number|add:"1" }}</a></li>
            {% endif %}

            {% if page_obj.number|add:"2" <= paginator.num_pages %}
                <li><a href="?page={{ page_obj.number|add:"2" }}">{{ page_obj.number|add:"2" }}</a></li>
            {% endif %}

            {% if page_obj.number|add:"2" <= paginator.num_pages|add:"-2" %}
                <li><span>...</span></li>
                <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% elif page_obj.number|add:"1" <= paginator.num_pages|add:"-2" %}
                <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">
                    <span class="uk-icon" uk-icon="icon: triangle-right"></span></a></a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}