{% extends 'base.html' %}
{% load static i18n  model_name class_tags %}

{% block title %}Modifier mon profil{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/datepicker.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'vendor/datepicker.min.js' %}"></script>
    <script>
        datepicker('#id_birth_date', {
            formatter: function (el, date) {
                el.value = date.toLocaleDateString('fr-FR', {
                    day: 'numeric',
                    month: 'numeric',
                    year: 'numeric'
                });
            },
            maxDate: new Date(),
            customMonths: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            customDays: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Vend', 'Sam'],
            overlayPlaceholder: 'Veuillez saisir une année',
            overlayButton: 'valider'
        })
    </script>
{% endblock %}

{% block content %}
    <div class="uk-container">
        <div class="uk-margin-top uk-margin-large-bottom uk-grid uk-child-width-1-5@m uk-child-width-1-3@s" uk-grid>
            <!-- user profile picture -->
            <div class="uk-cover-container uk-height-medium">
                {% if user.profile.photo %}
                    <img src="{{ user.profile.photo.url }}" alt="{{ object.username }}" uk-cover>
                {% else %}
                    <img src="{% static 'img/user-placeholder.jpg' %}" alt="" uk-cover>
                {% endif %}
            </div>
            <!-- user profile informations -->
            <section class="uk-width-3-5@m uk-width-2-3@s">
                <form class="uk-margin-remove-top" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <h1 class="uk-margin-remove-top">Mon Compte</h1>
                <a href="{% url 'accounts:profile' %}" class="uk-button uk-button-text link uk-hidden@m">annuler les modifications</a>
                <div id="auth-infos" class="uk-margin-bottom">
                    <hr class="uk-divider-icon">
                    <h2>Informations générales</h2>
                    <div class="uk-grid uk-child-width-1-2@m" uk-grid>
                        <div>
                            <label>{{ user_form.last_name.label }}</label>
                            {{ user_form.last_name|addClass:"uk-input" }}
                        </div>
                        <div>
                            <div>{{ user_form.first_name.label }}</div>
                            {{ user_form.first_name|addClass:"uk-input" }}
                        </div>
                        <div>
                            <div>{{ profile_form.gender.label }}</div>
                            {{ profile_form.gender|addClass:"uk-select" }}
                        </div>
                        <div>
                            <div>{{ profile_form.birth_date.label }}</div>
                            {{ profile_form.birth_date|addClass:"uk-input" }}
                        </div>
                        <div>
                            <div>{{ user_form.username.label }}</div>
                            {{ user_form.username|addClass:"uk-input" }}
                        </div>
                        <div>
                            <div>{{ user_form.email.label }}</div>
                            {{ user_form.email|addClass:"uk-input" }}
                        </div>
                        <div class="uk-width-1-1">
                            <div>{{ profile_form.photo.label }}</div>
                            {{ profile_form.photo }}
                        </div>
                        <div class="uk-width-1-1">
                            <div>{{ user_form.password.label }}</div>
                            {{ user_form.password }}
                            <small>{{ user_form.password.help_text|safe }}</small>
                        </div>
                        <div class="uk-width-1-1">
                            <div>{{ profile_form.bio.label }}</div>
                            {{ profile_form.bio |addClass:"uk-textarea"}}
                        </div>
                        <div class="uk-margin-top">
                            <input class="uk-button button-orange" type="submit" name="submit" value="valider">
                        </div>
                    </div>
                </div>
                <div id="contact-infos" class="uk-margin-bottom">
                    <hr class="uk-divider-icon">
                    <h2>Informations de contact</h2>
                    <div class="uk-grid uk-child-width-1-2@m" uk-grid>
                        <div>
                            <div>{{ profile_form.phone_number.label }}</div>
                            {{ profile_form.phone_number |addClass:"uk-input"}}
                        </div>
                        <div>
                            <div>{{ profile_form.mobile_number.label }}</div>
                            {{ profile_form.mobile_number |addClass:"uk-input"}}
                        </div>
                        <div class="uk-width-1-1">
                            <div>{{ profile_form.fax_number.label }}</div>
                            {{ profile_form.fax_number |addClass:"uk-input"}}
                        </div>
                        <div>
                            <div>{{ profile_form.street_address.label }}</div>
                            {{ profile_form.street_address |addClass:"uk-input"}}
                        </div>
                        <div>
                            <div>{{ profile_form.street_address2.label }}</div>
                            {{ profile_form.street_address2 |addClass:"uk-input"}}
                        </div>
                        <div>
                            <div>{{ profile_form.postal_code.label }}</div>
                            {{ profile_form.postal_code |addClass:"uk-input"}}
                        </div>
                        <div>
                            <div>{{ profile_form.city.label }}</div>
                            {{ profile_form.city |addClass:"uk-input"}}
                        </div>
                        <div class="uk-width-1-1">
                            <div>{{ profile_form.country.label }}</div>
                            {{ profile_form.country |addClass:"uk-input"}}
                        </div>
                    </div>

                        <div class="uk-margin-top">
                            <input class="uk-button button-orange" type="submit" name="submit" value="valider">
                        </div>
                </div>
                </form>
            </section>
            <!-- user profile navigation -->
            <div class="uk-width-1-5@m uk-visible@m" data-sticky-container id="sticky-nav">
                <ul class="uk-nav uk-nav-default" data-sticky data-margin-top="120">
                    <li><a href="#auth-infos" uk-scroll="offset:90"><span class="uk-margin-small-right" uk-icon="icon: info"></span> Informations Générales</a></li>
                    <li><a href="#contact-infos" uk-scroll="offset:90"><span class="uk-margin-small-right" uk-icon="icon: mail"></span> Informations de Contact</a></li>
                    <li><a href="{% url 'accounts:profile' %}"><span class="uk-margin-small-right" uk-icon="icon: pencil"></span> Annuler les modifications</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}