{% extends 'base.html' %}
{% load static i18n  model_name %}

{% block title %}Mon profil{% endblock %}

{% block content %}
    <div class="uk-container">
        <div class="uk-margin-top uk-margin-large-bottom uk-grid uk-child-width-1-5@m uk-grid uk-child-width-1-3@s" uk-grid>
            <!-- user profile picture -->
            <div class="uk-cover-container uk-height-medium">
                {% if object.profile.photo %}
                    <img src="{{ object.profile.photo.url }}" alt="{{ object.username }}" uk-cover>
                {% else %}
                    <img src="{% static 'img/user-placeholder.jpg' %}" alt="" uk-cover>
                {% endif %}
            </div>
            <!-- user profile informations -->
            <section class="uk-width-3-5@m uk-width-2-3@s">
                <h1>Mon Compte</h1>
               <div id="auth-infos" class="uk-margin-bottom">
                    <hr class="uk-divider-icon">
                    <h2>Informations générales</h2>
                    <dl class="uk-description-list uk-grid uk-child-width-1-2@m" uk-grid>
                        <div>
                            <dt>{% field_name object 'last_name' %}</dt>
                            <dd>{{ object.last_name }}</dd>
                        </div>
                        <div>
                            <dt>{% field_name object 'first_name' %}</dt>
                            <dd>{{ object.first_name }}</dd>
                        </div>
                        <div>
                            <dt>{% field_name object.profile 'gender' %}</dt>
                            <dd>{{ object.profile.get_gender_display }}</dd>
                        </div>
                        <div>
                            <dt>{% field_name object.profile 'birth_date' %}</dt>
                            <dd>{{ object.profile.birth_date|date:"d M Y" }}</dd>
                        </div>
                        <div>
                            <dt>{% field_name object 'username' %}</dt>
                            <dd>{{ object.username }}</dd>
                        </div>
                        <div>
                            <dt>{% field_name object 'email' %}</dt>
                            <dd>{{ object.email }}</dd>
                        </div>

                        <div class="uk-width-1-1">
                            <dt>{% field_name object.profile 'bio' %}</dt>
                            <dd>{{ object.profile.bio }}</dd>
                        </div>
                    </dl>
                </div>
                <div id="contact-infos" class="uk-margin-bottom">
                    <hr class="uk-divider-icon">
                    <h2>Informations de contact</h2>
                    <dl class="uk-description-list uk-grid uk-child-width-1-2@m" uk-grid>
                        <div>
                            <dt>{% field_name object.profile 'phone_number' %}</dt>
                            <dd>{{ object.profile.phone_number }}</dd>
                        </div>
                        <div>
                            <dt>{% field_name object.profile 'mobile_number' %}</dt>
                            <dd>{{ object.profile.mobile_number }}</dd>
                        </div>
                        <div class="uk-width-1-1">
                            <dt>{% field_name object.profile 'fax_number' %}</dt>
                            <dd>{{ object.profile.fax_number }}</dd>
                        </div>
                        <div>
                            <dt>{% field_name object.profile 'street_address' %}</dt>
                            <dd>{{ object.profile.street_address }}</dd>
                        </div>
                        <div>
                            <dt>{% field_name object.profile 'street_address2' %}</dt>
                            <dd>{{ object.profile.street_address2 }}</dd>
                        </div>
                        <div>
                            <dt>{% field_name object.profile 'postal_code' %}</dt>
                            <dd>{{ object.profile.postal_code }}</dd>
                        </div>
                        <div>
                            <dt>{% field_name object.profile 'city' %}</dt>
                            <dd>{{ object.profile.city }}</dd>
                        </div>
                        <div class="uk-width-1-1">
                            <dt>{% field_name object.profile 'country' %}</dt>
                            <dd>{{ object.profile.country }}</dd>
                        </div>
                    </dl>
                </div>
            </section>
            <!-- user profile navigation -->
            <div class="uk-width-1-5@m uk-visible@m" data-sticky-container id="sticky-nav">
                <ul class="uk-nav uk-nav-default" data-sticky data-margin-top="120">
                    <li><a href="#auth-infos" uk-scroll="offset:90"><span class="uk-margin-small-right" uk-icon="icon: info"></span> Informations Générales</a></li>
                    <li><a href="#contact-infos" uk-scroll="offset:90"><span class="uk-margin-small-right" uk-icon="icon: mail"></span> Informations de Contact</a></li>
                    <li><a href="{% url 'accounts:profile_edit' %}"><span class="uk-margin-small-right" uk-icon="icon: pencil"></span> Modifier mes informations</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}