{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
    Cofidentialité & Cookies
{% endblock title %}

{% block content %}

    <section class="uk-container uk-margin-top uk-margin-bottom">
        <h1 id='title'>www.kojump.fr Privacy Policy</h1>
        <div>
            <p class='uk-text-justify'>This privacy policy has been compiled to better serve those who are concerned with
                how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US
                privacy law and information security, is information that can be used on its own or with other
                information to identify, contact, or locate a single person, or to identify an individual in context.
                Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or
                otherwise handle your Personally Identifiable Information in accordance with our website.
            </p>

            <div><strong>What personal information do we collect from the people that visit our blog,
                website or app?</strong></div>
            <p class='uk-text-justify'>When ordering or registering on our site, as appropriate, you may be asked to enter
                your Gelolocation or other details to help you with your experience.
            </p>

            <div><strong>When do we collect information?</strong></div>
            <p class='uk-text-justify'>We collect information from you when you access to the geolocation service.</p>

            <div><strong>How do we use your information? </strong></div>
            <p class='uk-text-justify'> We may use the information we collect from you when you register, make a purchase,
                sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use
                certain other site features in the following ways:</p>

            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To personalize your experience
                and to allow us to deliver the type of content and product offerings in which you are most interested.
            </p>
            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To improve our website in
                order to better serve you.
            </p>
            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To allow us to better service
                you in responding to your customer service requests.
            </p>

            <div><strong>How do we protect your information?</strong></div>
            <p class='uk-text-justify'>We do not use vulnerability scanning and/or scanning to PCI standards.</p>
            <p class='uk-text-justify'>We only provide articles and information. We never ask for credit card numbers.</p>
            <p class='uk-text-justify'>We use regular Malware Scanning.</p>
            <p class='uk-text-justify'>Your personal information is contained behind secured networks and is only accessible
                by a limited number of persons who have special access rights to such systems, and are required to keep
                the information confidential. In addition, all sensitive/credit information you supply is encrypted via
                Secure Socket Layer (SSL) technology.</p>
            <p class='uk-text-justify'>We implement a variety of security measures when a user enters, submits, or accesses
                their information to maintain the safety of your personal information.</p>
            <p class='uk-text-justify'>All transactions are processed through a gateway provider and are not stored or
                processed on our servers.</p>

            <div><strong>Do we use 'cookies'?</strong></div>
            <p class='uk-text-justify'>Yes. Cookies are small files that a site or its service provider transfers to your
                computer's hard drive through your Web browser (if you allow) that enables the site's or service
                provider's systems to recognize your browser and capture and remember certain information. For instance,
                we use cookies to help us remember and process the items in your shopping cart. They are also used to
                help us understand your preferences based on previous or current site activity, which enables us to
                provide you with improved services. We also use cookies to help us compile aggregate data about site
                traffic and site interaction so that we can offer better site experiences and tools in the future.
            </p>

            <div><strong>We use cookies to:</strong></div>
            <p class='uk-text-justify'>Compile aggregate data about
                site traffic and site interactions in order to offer better site experiences and tools in the future. We
                may also use trusted third-party services that track this information on our behalf.
            </p>
            <p class='uk-text-justify'>You can choose to have your computer warn you each time a cookie is being sent,
                or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a
                little different, look at your browser's Help Menu to learn the correct way to modify your cookies.
            </p>
            <p class='uk-text-justify'>If you turn cookies off, Some of the features that make your site experience more
                efficient may not function properly.It won't affect the user's experience that make your site experience
                more efficient and may not function properly.
            </p>

            <div><strong>Third-party disclosure</strong></div>
            <p class='uk-text-justify'>We do not sell, trade, or otherwise transfer to outside parties your Personally
                Identifiable Information unless we provide users with advance notice. This does not include website
                hosting partners and other parties who assist us in operating our website, conducting our business, or
                serving our users, so long as those parties agree to keep this information confidential. We may also
                release information when it's release is appropriate to comply with the law, enforce our site policies,
                or protect ours or others' rights, property or safety. <br> However, non-personally identifiable
                visitor information may be provided to other parties for marketing, advertising, or other uses.
            </p>

            <div><strong>Third-party links</strong></div>
            <p class='uk-text-justify'>Occasionally, at our discretion, we may include or offer third-party products or
                services on our website. These third-party sites have separate and independent privacy policies. We
                therefore have no responsibility or liability for the content and activities of these linked sites.
                Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
            </p>

            <div><strong>Google</strong></div>
            <p class='uk-text-justify'>We, along with third-party vendors such as Google use first-party cookies (such as
                the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other
                third-party identifiers together to compile data regarding user interactions with ad impressions and
                other ad service functions as they relate to our website.
            </p>

            <div><strong>California Online Privacy Protection Act</strong></div>
            <p class='uk-text-justify'>CalOPPA is the first state law in the nation to require commercial websites and
                online services to post a privacy policy. The law's reach stretches well beyond California to require
                any person or company in the United States (and conceivably the world) that operates websites collecting
                Personally Identifiable Information from California consumers to post a conspicuous privacy policy on
                its website stating exactly the information being collected and those individuals or companies with whom
                it is being shared. - See more at:
                http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</p>

            <div><strong>According to CalOPPA, we agree to the following:</strong></div>
            <p class='uk-text-justify'>Users can visit our site anonymously.</p>
            <p class='uk-text-justify'>Once this privacy policy is created, we will add a link to it on our home page or as
                a minimum, on the first significant page after entering our website.</p>
            <p class='uk-text-justify'>Our Privacy Policy link includes the word 'Privacy' and can easily be found on the
                page specified above.
            </p>

            <div>You will be notified of any Privacy Policy changes:</div>
            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> On our Privacy Policy Page
            </p>
            <p class='uk-text-justify'>Can change your personal information:</p>
            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> By logging in to your account
            </p>

            <div><strong>How does our site handle Do Not Track signals?</strong></div>
            <p class='uk-text-justify'>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising
                when a Do Not Track (DNT) browser mechanism is in place.
            </p>

            <div><strong>Does our site allow third-party behavioral tracking?</strong></div>
            <p class='uk-text-justify'>It's also important to note that we do not allow third-party behavioral tracking
            </p>

            <div><strong>COPPA (Children Online Privacy Protection Act)</strong></div>
            <p class='uk-text-justify'>When it comes to the collection of personal information from children under the age
                of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The
                Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which
                spells out what operators of websites and online services must do to protect children's privacy and
                safety online.</p>
            <p class='uk-text-justify'>We do not specifically market to children under the age of 13 years old.</p>
            <p class='uk-text-justify'>Do we let third-parties, including ad networks or plug-ins collect PII from children
                under 13?</p>

            <div><strong>Fair Information Practices</strong></div>
            <p class='uk-text-justify'>The Fair Information Practices Principles form the backbone of privacy law in the
                United States and the concepts they include have played a significant role in the development of data
                protection laws around the globe. Understanding the Fair Information Practice Principles and how they
                should be implemented is critical to comply with the various privacy laws that protect personal
                information.<br><br></p>

            <div class='uk-text-justify'><strong>In order to be in line with Fair Information Practices we will take the
                following responsive action, should a data breach occur:</strong></div>
            <div class='uk-text-justify'>We will notify you via email</div>

            <div class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Within 7 business days</div>
            <div class='uk-text-justify'>We will notify the users via in-site notification</div>
            <div class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Within 1 business day</div>
            <div class='uk-text-justify'><br>We also agree to the Individual Redress Principle which requires that individuals
                have the right to legally pursue enforceable rights against data collectors and processors who fail to
                adhere to the law. This principle requires not only that individuals have enforceable rights against
                data users, but also that individuals have recourse to courts or government agencies to investigate
                and/or prosecute non-compliance by data processors.
            </div>

            <div><strong>CAN SPAM Act</strong></div>
            <p class='uk-text-justify'>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes
                requirements for commercial messages, gives recipients the right to have emails stopped from being sent
                to them, and spells out tough penalties for violations.</p>

            <div><strong>We collect your email address in order to:</strong></div>
            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Send information, respond to
                inquiries, and/or other requests or questions
            </p>

            <div><strong>To be in accordance with CANSPAM, we agree to the following:</strong></div>
            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Not use false or misleading
                subjects or email addresses.
            </p>
            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Identify the message as an
                advertisement in some reasonable way.
            </p>
            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Include the physical address
                of our business or site headquarters.
            </p>
            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Monitor third-party email
                marketing services for compliance, if one is used.
            </p>
            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Honor opt-out/unsubscribe
                requests quickly.
            </p>
            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Allow users to unsubscribe by
                using the link at the bottom of each email.
            </p>

            <div><strong>If at any time you would like to unsubscribe from receiving future
                emails, you can email us at</strong></div>
            <p class='uk-text-justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Follow the instructions at the
                bottom of each email.
            </p>
            and we will promptly remove you from <strong>ALL</strong> correspondence.
        </div>

        <div><strong>Contacting Us</strong></div>
        <p class='uk-text-justify'>If there are any questions regarding this privacy policy, you may contact us using the
            information below.</p>
        <div class='uk-text-justify'>www.kojump.fr</div>
        <div class='uk-text-justify'>France</div>
        <div class='uk-text-justify'>support@kojump.fr</div>
        <div class='uk-text-justify'>Last Edited on 2017-09-23</div>
    </section>
{% endblock %}
