{% extends 'base/card.html' %}

{% block title %}Réinitialiser mot de passe{% endblock %}
{% block mainTitle %}Réinitiliser votre mot de passe{% endblock %}

{% block card-body-content %}
    <p>Votre mot de passe a été réinitialisé avec success. Vous pouvez maitenant vous connecter</p>
    <a class="uk-button uk-button-default" href="{% url 'accounts:login' %}">Revenir à la page de connection</a>
{% endblock %}