{% extends 'base/card.html' %}

{% block title %}Réinitialiser mot de passe{% endblock %}
{% block mainTitle %}Mot de passe oublié{% endblock %}

{% block card-body-content %}
<p>Un e-mail contenant le lien de réinitialisation vous a été envoyé. Merci de vérifier votre boite de réception.<br>
Si, après quelques minute vous ne le recevez toujours pas, merci de vérifier dans les spams
</p>
{% endblock %}

{% block card-footer %}
    <div class="uk-card-footer">
        <a href="{% url 'accounts:login' %}" class="uk-button uk-button-text link">revenir à la page de connection ?</a>
    </div>
{% endblock %}