{% extends 'base/card.html' %}
{% load class_tags %}

{% block title %}Réinitialiser mot de passe{% endblock %}
{% block mainTitle %}Réinitiliser votre mot de passe{% endblock %}

{% block card-body-content %}
    {% if validlink %}
    <form class="" role="form" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% for error in field.errors %}
                <p class="uk-text-danger">{{ error }}</p>
            {% endfor %}
            <div class="uk-margin">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">{{ field.label }}</label>
                <div class="uk-form-controls">
                    {{ field|addClass:"uk-input" }}
                </div>
            </div>
            </div>
            {% if field.help_text %}
                <small>{{ field.help_text|safe }}</small>
            {% endif %}
        {% endfor %}

        <div class="uk-margin-top">
            <input class="uk-button button-orange" type="submit" name="submit" value="valider">
        </div>
    </form>
    {% else %}
        <p class="uk-text-justify uk-text-danger">Il se peut que vous avez clické sur un lien invalide. Merci de bien vouloir recommencer</p>
        <a href="{% url 'accounts:password_reset' %}" class="uk-button uk-button-default">recommencer ?</a>
    {% endif %}
{% endblock %}