{% extends 'base/form.html' %}

{% block title %}S'inscrire{% endblock %}
{% block mainTitle %}S'inscrire{% endblock %}

{% block form %}
<div>
    <h4>S'enregistrer via les réseaux sociaux</h4>
    <div class="uk-margin-top">
        <a href="#" class="uk-icon-button uk-margin-small-right twitter-icon" uk-icon="icon: twitter"></a>
        <a href="#" class="uk-icon-button  uk-margin-small-right facebook-icon" uk-icon="icon: facebook"></a>
        <a href="#" class="uk-icon-button google-icon" uk-icon="icon: google-plus"></a>
    </div>
</div>
    <div class="uk-divider-icon"></div>
    <h4>Créer un compte</h4>
    {{ block.super }}
{% endblock %}
