{% extends 'base.html' %}
{% load static class_tags %}

{% block title %}Rechercher{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css' type='text/css' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />
    <!--[if lt IE 9]>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.ie.css' rel='stylesheet' />
    <![endif]-->

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
     <link rel="stylesheet" href="{% static 'css/range.css' %}">
     <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
    <link href='{% static "css/map-control.css" %}' rel='stylesheet'/>
    <style>
    .leaflet-top, .leaflet-bottom {
        z-index: 0;
    }
    .leaflet-marker-draggable {
        z-index: 1000 !important;
    }
    </style>
{% endblock %}

{% block content %}
<section class="uk-container uk-section" style="padding-bottom: 10px">
    <h2>Résultat de la recherche</h2>
    <div class="uk-divider-icon"></div>
    <form method="get" action="">

        <ul uk-accordion="targets:#advancedSearch">
            <li id="advancedSearch">
                <h3 class="uk-accordion-title">Recherche avancée</h3>
                <div class="uk-accordion-content">
                    <div class="uk-divider-icon"></div>
                <h3>Type de lieu</h3>
                <div class="">
                    <div class="uk-margin uk-grid-small uk-child-width-1-2@s uk-grid" uk-grid>
                        <label for="is_public"><input id="is_public" name="is_public" type="checkbox" class="uk-checkbox" /> Public</label>
                        <label for="is_private"><input id="is_private" name="is_private" type="checkbox" class="uk-checkbox" /> Privé</label>
                    </div>
                </div>
                <ul uk-accordion>
                    <li>
                        <div class="uk-divider-icon"></div>
                        <h3 class="uk-accordion-title">Activités</h3>
                        <div class="uk-accordion-content">
                    <div class="uk-margin uk-grid-small uk-child-width-1-6@l uk-child-width-1-4@m uk-child-width-1-2@s uk-grid" uk-grid>
                        {% for pk, choice in form_activities.activities.field.widget.choices %}
                            <label for="id_{{ form_activities.activities.name }}_{{ pk }}">
                              <input id="id_{{ form_activities.activities.name }}_{{ pk }}"
                                     name="{{ form_activities.activities.name }}" type="checkbox" value="{{pk}}"
                                     class="uk-checkbox" />
                              {{ choice }}
                              </label>
                        {% endfor %}
                    </div>
                </div>
                    </li>
                </ul>
                <div class="uk-divider-icon"></div>
                <h3 class="">Paramètres géographique</h3>
                <div class="">
                    <div class="uk-grid uk-child-width-1-2@s uk-padding-top" uk-grid>
                        <div class="uk-margin uk-width-1-1">
                            <div class="range-slider">
                                <label for="lat-search">Distance de recherche (KM)</label>
                                <input class="range-slider__range" name="distance" id="distance-search" type="range" value="10" min="1" max="200">
                                <span class="range-slider__value">0</span>
                            </div>
                        </div>
                        <div class="uk-margin uk-hidden">
                            <label for="lng-search">Langitude</label>
                            <input class="uk-input uk-disabled" name="lng" type="search" id="lng-search" placeholder="Langitude"/>
                        </div>
                        <div class="uk-margin uk-hidden">
                            <label for="lat-search">Latitude</label>
                            <input class="uk-input uk-disabled" name="lat" type="search" id="lat-search" placeholder="Latitude"/>
                        </div>
                    </div>
                </div>

                </div>
            </li>
        </ul>

        <div class="uk-divider-icon"></div>
        <div class="uk-margin uk-width-1-1">
            <label for="address-search">Adresse</label>
            <input class="uk-input" type="search" id="address-search" placeholder="Rechercher un lieu..."/>
        </div>

        <div class="uk-clearfix">
            <div class="uk-float-right">
                <input type="submit" value="filtrer mes résultat" class="uk-button uk-button-default">
            </div>
        </div>
</form>
</section>

<div class="progress-bar" id="progress-bar"></div>

<div class="uk-container">
    <ul class="uk-flex-center" uk-tab="connect: #component-tab; animation: uk-animation-fade">
        <li class="uk-active"><a href="#">Carte</a></li>
        <li><a href="#">Liste</a></li>
    </ul>
</div>

<div class="uk-container">
    <ul class="uk-switcher uk-margin" id="component-tab">
        <li>
            <div id="map-container" style="width: 100%; calc(100vh - 80px); padding-bottom: 0; position: relative">
                <div id='searchMap' style="width: 100%; height: calc(100vh - 80px)"></div>
                <button id="instructions-control" class="uk-button uk-button-secondary uk-button-small">itinéraire</button>
                <div id='inputs'></div>
                <div id='errors'></div>
                <div id='directions'>
                    <div id='routes'></div>
                    <div id='instructions'></div>
                </div>
            </div>
        </li>
        <li class="uk-padding">
            <div class="uk-grid uk-child-width-1-3@m uk-grid-match" id="search-list" uk-grid>
                <div class="uk-width-1-1">
                    <p>Aucun emplacement trouvés</p>
                </div>
            </div>
        </li>
    </ul>
</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.js'></script>
    <script src="{% static 'js/range.js' %}"></script>

    <script src="{% static 'js/search-map.js' %}"></script>
{% endblock %}
