{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="uk-container">
        <section class="uk-section">
            <h1>Mes publications</h1>
            <div>
                {% if not post_list %}
                    <p>Vous n'avez publié aucun lieu pour le moment.</p>
                {% endif %}
            </div>
            <div class="uk-grid uk-grid-small uk-grid-match uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
                {% for post in post_list %}
                    <div class="card-element infinite-item">
                        <div class="uk-card uk-card-default uk-card-hover card">
                            <div class="uk-card-media-top">
                                <img src="{% static 'img/placeholder.png' %}" alt="">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title"><a>{{ post.title }}</a></h3>
                                <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom"><time datetime="{{ post.created_at }}">{{ post.created_at }}</time></p>
                                <p class="uk-text-meta uk-margin-remove-top"><b>Statut : </b>{{ post.get_status_display }}</p>
                                <p>{{ post.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}