{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
A propos de nous
{% endblock %}

{% block content %}
    <article class="uk-article uk-container uk-margin-top uk-margin-bottom">

    <h1 class="uk-article-title" id="title">A propos de nous</h1>

    <p>Tout a commencé lorseque, fraîchement débarqués dans une ville que nous ne connaissons pas, nous avons décidé de
    chercher un terrain pour faire du basket...<br>
    Ne connaissant personne sur place, notre solution a été de parcourir la ville en mode "satellite" sur Google Earth,
    pour trouver quelque chose qui ressemblait de près ou de loin à un terrain de basket. Après 20 bonnes minutes de
    recherche nous avons enfin trouvé le <b>Graal</b>!<br>
    Malheureusement, il s'est avéré que le terrain était situé sur une propriété privé...</p>
    <p>C'est donc pour faciliter cette démarche que nous avons décidé de créer <b>Kojump</b>, une plateforme permettant
    de trouver <b>facilement</b> un endroit où pratiquer une activité sportive!</p>

    <h2 class="uk-article-title">L'équipe</h2>
    <div class="uk-grid-small uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="{% static 'img/user-placeholder.jpg' %}" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Geoffrey</h3>
                    <dl>
                        <dt>Sport préféré</dt>
                        <dd>Basketball</dd>
                        <dt>Rôle</dt>
                        <dd>Développeur</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="{% static 'img/user-placeholder.jpg' %}" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Tom</h3>
                    <dl>
                        <dt>Sport préféré</dt>
                        <dd>Football</dd>
                        <dt>Rôle</dt>
                        <dd>Commercial</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="{% static 'img/user-placeholder.jpg' %}" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Jérémy</h3>
                    <dl>
                        <dt>Sport préféré</dt>
                        <dd>Football</dd>
                        <dt>Rôle</dt>
                        <dd>Commercial</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="{% static 'img/user-placeholder.jpg' %}" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Cédric</h3>
                    <dl>
                        <dt>Sport préféré</dt>
                        <dd>Football</dd>
                        <dt>Rôle</dt>
                        <dd>Commercial</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</article>
{% endblock %}
