{% extends 'base.html' %}
{% load static %}
{% block title %}{{ activity.label }}{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />
    <!--[if lt IE 9]>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.ie.css' rel='stylesheet' />
    <![endif]-->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
{% endblock %}

{% block content %}
    <header class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle details-hero"
            style="background-image: url('{% if activity.image %}{{ activity.image.url }}{% else %}{% static 'img/placeholder@l.png' %}{% endif %}')">
        <div class="uk-overlay uk-light uk-position-bottom uk-container">
            <h1 class="uk-article-title">{{ activity.label }}</h1>
        </div>
    </header>

    <section class="uk-container elements-details">
        <article class="uk-article">
            <h2>Description</h2>
            {% if activity.description %}
                <p class="uk-text-justify">{{ activity.description }}</p>
            {% else %}
                <p>Aucune description...</p>
            {% endif %}

            <h3>Disciplines sportives</h3>

            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                {% for discipline in activity.sports_disciplines.all %}
                    <label><input class="uk-checkbox" type="checkbox"
                                  value="{{ discipline.pk }}"> {{ discipline.label }}</label>
                {% endfor %}
            </div>
            <!-- Advanced Search -->
            <ul uk-accordion="multiple: true">
                <li>
                    <h3 class="uk-accordion-title">Recherche avancée +</h3>
                    <div class="uk-accordion-content">

                        <div>
                            <h5>Paramètres d'accéssibilité</h5>
                            <div class="uk-margin uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s uk-grid" uk-grid>
                                <label for="is_public"><input id="is_public" name="is_public" type="checkbox" class="uk-checkbox" /> accès aux publiques ?</label>
                                <label for="is_always_open"><input id="is_always_open" name="is_always_open" type="checkbox" class="uk-checkbox" /> ouvert 7j/7 24h/24 ?</label>
                                <label for="only_season"><input id="only_season" name="only_season" type="checkbox" class="uk-checkbox" /> ouvert seulement dans les saisons ?</label>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
            <!-- /Advanced Search -->
            <button class="uk-button uk-button-default">Filtrer</button>
        </article>
    </section>

    <div class="black-separator"></div>

    <div class="uk-child-width-1-5 uk-grid-small uk-background-muted" data-sticky-container uk-grid>
        <div class="uk-container uk-width-3-5 map-elements-container" id="map-elements-container">
            <div class="uk-margin-top uk-margin-bottom uk-margin-left">
                <input class="uk-input" type="text" placeholder="filtrer">
            </div>
            <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match map-elements" id="map-elements" uk-grid>
                <!-- -->
                <div class="uk-width-1-1">
                    <p>Merci de patienter</p>
                    <div class="spinner-container uk-background-muted">
                        <a class="infinite-more-link" href="#" style="display: block;"
                           uk-spinner></a>
                    </div>
                </div>
                <!-- -->
            </div>
        </div>
        <div class="uk-width-2-5 map-container sticky-map" id="map-container" data-sticky data-margin-top="80">
            <div id='map'></div>
        </div>
    </div>

    <div id="map-control">
        <a href="#" class="uk-icon-link" uk-icon="icon: chevron-right; ratio: 1.5" id="toggle-elements"></a>
        <a href="#" class="uk-icon-link" uk-icon="icon: chevron-left; ratio: 1.5" id="toggle-map"></a>
    </div>

    <div class="black-separator" id="bottom-scroll-spy"></div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
    <script async src="{% static 'js/map.js' %}"></script>
{% endblock %}