{% extends 'base/form.html' %}
{% load i18n static class_tags %}

{% block title %}Nous Contacter{% endblock %}
{% block mainTitle %}Nous contacter{% endblock %}

{% block form %}
<form class="" role="form" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        {% for error in field.errors %}
            <p class="uk-text-danger">{{ error }}</p>
        {% endfor %}
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">{{ field.label }}</label>
            <div class="uk-form-controls">
                {% ifequal field.html_name 'message' %}
                    {{ field|addClass:"uk-textarea" }}
                {% else %}
                    {{ field|addClass:"uk-input" }}
                {% endifequal %}
            </div>
        </div>
        {% if field.help_text %}
            <small>{{ field.help_text|safe }}</small>
        {% endif %}
    {% endfor %}

    <div class="uk-margin-top">
        <input class="uk-button button-orange" type="submit" name="submit" value="valider">
    </div>
</form>
{% endblock %}