{% extends 'base.html' %}
{% load static class_tags %}

{% block title %}Page d'accueil{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.4/dist/css/select2.min.css" rel="stylesheet" />

    <style>
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #ff4e00;
        }
        .select2-selection__rendered {
            padding: 5px !important;
        }
        .select2-selection__choice {
            margin-top: 0 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- hero slider -->
    <header class="hero" id="hero">
        <div class="uk-container-expand">
            <div class="hero-slider">
                <div class="uk-background-cover slide lazy" data-src="{% static 'img/home/basket.png' %}"></div>
                <div class="uk-background-cover slide lazy" data-src="{% static 'img/home/football.png' %}"></div>
                <div class="uk-background-cover slide lazy" data-src="{% static 'img/home/golf.png' %}"></div>
                <div class="uk-background-cover slide lazy" data-src="{% static 'img/home/tennis.png' %}"></div>
                <div class="uk-background-cover slide lazy" data-src="{% static 'img/home/skate.png' %}"></div>
                <div class="uk-background-cover slide lazy" data-src="{% static 'img/home/badminton.png' %}"></div>
            </div>
            <div class="uk-position-absolute hero-text">
                <h1 class="uk-text-center" style="color: #f8f8f8">
                    <i uk-icon="icon: search; ratio: 2"></i> Je cherche un terrain de
                    <span class="txt-rotate"
                          data-period="2000"
                          data-rotate='[ "Basket", "Football", "Golf", "Tennis", "Skate" , "Badminton" ]'></span>
                </h1>
            </div>
            <div class="uk-position-absolute hero-btn uk-container">
                <a href="#activities" class="uk-align-center uk-button uk-width-1-2@s button-orange"
                   uk-scroll="offset:80">
                    <span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>
                    Afficher toutes les activités
                </a>
            </div>
        </div>
    </header>
    <!-- /hero slider -->
    <div class="black-separator"></div>
    <!-- card view -->
    <div class="card-container uk-background-muted" id="activities">
        <div class="uk-container">
            <div class="card-grid uk-grid-small uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-5@xl infinite-container"
                 uk-grid>
                <div class="uk-width-1-1">
                    <form method="get" action="{% url 'search' %}">
                        {{ form_activities.activities|addClass:"search-sport-input uk-select" }}
                        <input name="previous" type="text" value="{{ request.path }}" hidden>
                        <div class="uk-margin-top">
                            <button class="uk-button uk-button-secondary search-sport-button">Rechercher</button>
                        </div>
                    </form>
                </div>
                {% for activity in activity_list %}
                    <div class="card-element infinite-item">
                        <div class="uk-card uk-card-default uk-card-hover">
                            <div class="uk-card-media-top">
                                {% if activity.image %}
                                    <img class="lazy" src="{{ activity.image.url }}" alt="{{ activity.slug }}">
                                {% else %}
                                    <img class="lazy" src="{% static 'img/placeholder.png' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title"><a href="{% url 'activity-detail' activity.pk %}">{{ activity.label }}</a></h3>
                                {% if activity.description %}
                                    <p>{{ activity.description }}</p>
                                {% else %}
                                    <p>aucune description</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- -->
            </div>
        </div>
    </div>
    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="{% url 'home' page_obj.next_page_number %}" style="text-align: center; margin: 20px; display: none;" uk-spinner></a>
    {% endif %}
    <!-- /card view -->
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/waypoints@4.0.1/lib/jquery.waypoints.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/waypoints@4.0.1/lib/shortcuts/infinite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.4/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
    <script>
        var images = document.querySelectorAll(".lazy");
        var lazy = new lazyload(images);
        $(document).ready(function() {
            var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                onBeforePageLoad: function () {
                    $('.infinite-more-link').show();
                },
                onAfterPageLoad: function ($items) {
                    $('.infinite-more-link').hide();
                }
            });
            $('#id_activities').select2();
            lazy.loadImages();
        });
    </script>
{% endblock %}