{% load static i18n %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kojump - {% block title %}Page blanche{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'img/kojump/kojump_favicon.png' %}">

    {% block styles %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.0.0-beta.30/dist/css/uikit.min.css">
        <link rel="stylesheet" href="{% static 'assets/app.bundle.css' %}">
    {% endblock styles%}

</head>
<body>
    {% block navbar %}
        {% include 'parts/navbar.html' %}
    {% endblock navbar%}

    {% block content %}
        {% if messages %}
            {% for message in messages %}
                {% if message.success %}
                    <div class="{% if message.success %}uk-alert-success{% elif message.error %}uk-alert-danger{% endif %}" uk-alert>
                        <a class="uk-alert-close" uk-close></a><p id="error-message">{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="spinner-container uk-background-muted">
            <a class="infinite-more-link" href="#" uk-spinner></a>
        </div>
    {% endblock content%}

    {% block footer %}
        {% include 'parts/footer.html' %}
    {% endblock footer%}

    {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js"></script>
        <script src="{% static 'assets/app.bundle.js' %}"></script>
    {% endblock scripts%}
</body>
</html>